  <%= simple_form_for [@spectacle, @perform] do |f| %>
    <%= f.input :date, placeholder: 'date' %>
    <%= f.input :cost, placeholder: 'cost' %>
    <%#= f.input :spectacle_id, as: :select %>
    <%= f.input :location_id, collection: @locations  %>


    <p>QUERY SYNTAXES AVAILABLE :</p>
    <p class="mb-0"><strong>@perform.spectacle_id </strong><%= @perform.spectacle_id %></p>
    <p class="mb-0"><strong>@locations </strong><%= @locations %></p>
    <p class="mb-0"><strong>@location </strong><%= @location %></p>
    <p class="mb-0"><strong>Location.last.name </strong><%= Location.last.name %></p>
    <p class="mb-0"><strong>Location.find(1).name </strong><%= Location.find(1).name %></p>
    <p class="mb-0"><strong>Location.find(@locations).name </strong><%= Location.find(1).name %></p>
    <p><strong>@perform.location_id </strong><%= @perform.location_id %></p>


    <%= f.submit 'Save', class: 'bt' %>

  <% end %>
