  <%= simple_form_for [@spectacle, @perform] do |f| %>
    <%= f.input :date, as: :time, order: [:day, :month, :year, :hour] %>


    <%= f.input :cost, placeholder: 'cost' %>
    <%#= f.input :spectacle_id, as: :select %>

    <%= f.input :location_id, collection: @locations, include_blank: false  %>
    <%#= f.input :spectacle_id, collection: @spectacles, include_blank: false  %>
    <%= f.association :spectacle, label_method: :title, value_method: :id, include_blank: false %>
    <%#= f.association :location_id, label_method: :name, value_method: :id, include_blank: false %>

    <p>QUERY SYNTAXES AVAILABLE :</p>

    <p class="mb-0"><strong>@perform.spectacle_id </strong><%= @perform.spectacle_id %></p>
    <p class="mb-0"><strong>@perform.spectacle.title </strong><%#= @perform.spectacle.title %></p>
    <p class="mb-0"><strong>@locations </strong><%= @locations %></p>
    <p class="mb-0"><strong>@location </strong><%= @location %></p>
    <p class="mb-0"><strong>Location.last.name </strong><%= Location.last.name %></p>
    <p class="mb-0"><strong>Location.find(1).name </strong><%= Location.find(1).name %></p>
    <p class="mb-0"><strong>Location.find(@locations).name </strong><%= Location.find(1).name %></p>
    <p><strong>@perform.location_id </strong><%= @perform.location_id %></p>

    <%= f.submit 'Save', class: 'bt' %>


  <% end %>
