<h1>Performs#index</h1>
<p>Find me in app/views/performs/index.html.erb</p>
  <p><%= link_to "new spectacle", new_spectacle_path %> |
  <%= link_to "see spectacles", spectacles_path %>
  </p>
<% @performs.each do | perform | %>
  <div class="card p-4 mt-2 mb-2">
    <h4><%= Spectacle.find(perform.spectacle_id).title %></h4>
    <p><strong>Description </strong><%= Spectacle.find(perform.spectacle_id).description %></p>

    <p><strong>id </strong><%= perform.id %></p>
    <p><strong>date </strong><%= perform.date %></p>
    <p><strong>cost </strong><%= perform.cost %></p>
    <p><strong>spectacle_id </strong><%= perform.spectacle_id %></p>
    <%= link_to "Detail", perform %>
  </div>
<% end %>
