<div class="d-flex justify-content-between">
  <h1>Perform new</h1>
  <div class="">
      <%= link_to "retour", spectacles_path, class:"btn btn-flat" %>
  </div>
</div>


<div class="card p-4">
  <%= simple_form_for [@spectacle, @perform] do |f| %>
    <%= f.input :date, placeholder: 'date' %>
    <%= f.input :cost, placeholder: 'cost' %>
    <%= f.input :spectacle_id, placeholder: "#{@spectacle.title}" %>


    <%= f.submit 'Save', class: 'bt' %>
  <% end %>
</div>
