<h1>Perform#Show</h1>
<%= link_to "see performs", performs_path, class:"btn btn-flat" %>
<%= link_to "retours", spectacles_path, class:"btn btn-flat" %>

     <div class="card p-4 mt-2 mb-2" style="border: red, solid, 1px">
        <p class="mb-0"><strong>date </strong><%= @perform.date %></p>
        <p><strong>Company </strong><%= @perform.spectacle.company %></p>
        <h2><%= @perform.spectacle.title %></h2>
        <p><%= @perform.spectacle.description %></p>

        <div>
          <p class="mb-0"><strong>Perform id </strong><%= @perform.id %></p>
          <p class="mb-0"><strong>cost </strong><%= @perform.cost %> €</p>
          <p><strong>spectacle_id </strong><%= @perform.spectacle_id %></p>
        </div>
                <%= link_to "Edit", edit_perform_path(@perform) %>


      </div>
