<div class="d-flex justify-content-between">
  <h1>Edit</h1>
  <div class="">
      <%= link_to "retours", spectacles_path %>
  </div>
</div>
<div class="card p-4">
  <div class="d-flex flex-row-reverse">
    <%= link_to "+ Add perform", new_spectacle_perform_path(@spectacle) %>
  </div>
  <%= simple_form_for @spectacle do |f| %>
    <%= f.input :title, placeholder: 'title' %>
    <%= f.input :director, placeholder: 'director' %>
    <%= f.input_field :description, placeholder: 'description' %>
    <%= f.input :duration, placeholder: 'duration' %>
    <%= f.input :distribution, placeholder: 'distribution' %>
    <%= f.input :production, placeholder: 'production' %>
    <%= f.input :coproduction, placeholder: 'coproduction' %>
    <%= f.input :origin, placeholder: 'origin' %>
    <%= f.input :public, placeholder: 'public' %>

    <%= f.submit 'Save', class: 'bt' %>
  <% end %>
</div>
