<h1>Spectacles#:new</h1>
<p>Find me in app/views/spectacles/:new.html.erb</p>
<div class="card p-4">
  <%= simple_form_for @spectacle do |f| %>
    <%= f.input :title, placeholder: 'title' %>
    <%= f.input :director, placeholder: 'director' %>
    <%= f.input_field :description, placeholder: 'description' %>
    <%= f.input :duration, placeholder: 'duration' %>
    <%= f.input :distribution, placeholder: 'distribution' %>
    <%= f.input :production, placeholder: 'production' %>
    <%= f.input :coproduction, placeholder: 'coproduction' %>
    <%= f.input :origin, placeholder: 'origin' %>
    <%= f.input :public, placeholder: 'public' %>

    <%= f.submit 'Save', class: 'bt' %>
  <% end %>
</div>
