<h1>Spectacles#show</h1>

<div class="card p-4 mt-2 mb-2">
  <h3><%= @spectacle.title %></h3>
  <p><strong>Directeur </strong><%= @spectacle.director %></p>
  <p><%= @spectacle.description %></p>

  <div class="d-flex flex-row" style="border:1px blue solid;">
    <% @spectacle.performs.each do |perform| %>
      <div class="d-flex align-items-center flex-column p-4" style="border: red solid 1px; width:25%;">
        <p><%= perform.date.strftime("%A") %></p>
        <h1><%= perform.date.strftime("%d") %></h1>
        <p><%= perform.date.strftime("%^b") %></p>
        <p><strong>Cost </strong><%= perform.cost %> €</p>
      </div>
    <% end %>
  </div>

  <p><strong>Durée </strong><%= @spectacle.duration %></p>
  <p><strong>Distribution </strong><%= @spectacle.distribution %></p>
  <p><strong>Production </strong><%= @spectacle.production %></p>
  <p><strong>Coproduction </strong><%= @spectacle.coproduction %></p>
  <p><%= @spectacle.origin %></p>
  <p><%= @spectacle.public %></p>
</div>

  <%= link_to "retours", spectacles_path, class:"btn btn-flat" %>
