<h1>Edit location</h1>

  <%= simple_form_for @location do |f| %>
    <%= f.input :name, placeholder: 'name' %>
    <%= f.input :address, placeholder: 'address' %>
    <%= f.input :longitude, placeholder: 'longitude' %>
    <%= f.input :latitude, placeholder: 'latitude' %>

    <%= f.submit 'Save', class: 'bt' %>
  <% end %>
