<h1>Locations index</h1>
  <%= link_to "see spectacles", spectacles_path %> |
    <%= link_to "new location", new_location_path %> |



<div class="cards_container">
  <% @locations.each do | location | %>
    <div class="card p-4 mt-2 mb-2">
      <p class="mb-0"><strong>name : </strong><%= location.name %></p>
      <p class="mb-0"><strong>record id : </strong><%= location.id %></p>
      <%= link_to "detail", location_path(location.id) %>
    </div>

  <% end %>
</div>
