<h1>location show</h1>
<div class="cards_container">
    <div class="card p-4 mt-2 mb-2">
      <p class="mb-0"><strong>name : </strong><%= @location.name %></p>
      <p class="mb-0"><strong>record id : </strong><%= @location.id %></p>
      <p class="mb-0"><strong>address : </strong><%= @location.address %></p>
      <p class="mb-0"><strong>longitude : </strong><%= @location.longitude %></p>
      <p class="mb-0"><strong>latitude : </strong><%= @location.latitude %></p>

        <%= link_to "list", locations_path %>
        <%= link_to "Edit", edit_location_path(@location) %>
        <%= button_to "Delete", @location, method: :delete %>
    </div>
</div>
